version: '3.1'
services:
  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: directus
      MYSQL_USER: directus
      MYSQL_PASSWORD: directus
    ports:
      - '3306:3306'
# For local development we should use this DB, but it should first be imported from production to have the correct schema.
# If we make the changes to the local DB, we should find a way to properly apply them later on in production.
# This can be done either by manually making the same changes, or find a way to have some migration files that we can apply.
